In [0]:
print(spark)

In [0]:
from pyspark import *

data = [
    {"Name": "Anil Kumar", "Age": 29}
]

df = spark.createDataFrame(data)
display(df.select("Name"))

In [0]:
simpleData = [("James","Sales","NY",90000,34,10000),
    ("Michael","Sales","NY",86000,56,20000),
    ("Robert","Sales","CA",81000,30,23000),
    ("Maria","Finance","CA",90000,24,23000),
    ("Raman","Finance","CA",99000,40,24000),
    ("Scott","Finance","NY",83000,36,19000),
    ("Jen","Finance","NY",79000,53,15000),
    ("Jeff","Marketing","CA",80000,25,18000),
    ("Kumar","Marketing","NY",91000,50,21000)
  ]

columns = ["emp_name", "department", "state", "salary", "age", "bonus"]

df = spark.createDataFrame(data=simpleData, schema=columns)
#display(df.groupby("department").sum("salary"))
display(df)
display(df.groupby("department").min("salary"))
display(df.groupby("department").max("salary"))
display(df.groupby("department").agg({"salary": "sum"}))

In [0]:
from pyspark.sql import Window
from pyspark.sql.functions import sum

simpleData = [("James","Sales","NY",90000,34,10000),
    ("Michael","Sales","NY",86000,56,20000),
    ("Robert","Sales","CA",81000,30,23000),
    ("Maria","Finance","CA",90000,24,23000),
    ("Raman","Finance","CA",99000,40,24000),
    ("Scott","Finance","NY",83000,36,19000),
    ("Jen","Finance","NY",79000,53,15000),
    ("Jeff","Marketing","CA",80000,25,18000),
    ("Kumar","Marketing","NY",91000,50,21000)
  ]

columns = ["emp_name", "department", "state", "salary", "age", "bonus"]

df = spark.createDataFrame(data=simpleData, schema=columns)

windowSpec = Window.partitionBy("department")
df = df.withColumn("sum_salary", sum("salary").over(windowSpec))
display(df)

In [0]:
from pyspark.sql.functions import avg, max

df.groupBy("department") \
    .agg(sum("salary").alias("sum_salary"), \
    avg("salary").alias("avg_salary"), \
         sum("bonus").alias("sum_bonus"), \
         max("bonus").alias("max_bonus") \
     ) \

display(df)

In [0]:
df = df.filter("age > 30")
display(df)

In [0]:
from pyspark.sql import Window
from pyspark.sql.functions import sum

simpleData = [("James","Sales","NY",90000,34,10000),
    ("Michael","Sales","NY",86000,56,20000),
    ("Robert","Sales","CA",81000,30,23000),
    ("Maria","Finance","CA",90000,24,23000),
    ("Raman","Finance","CA",99000,40,24000),
    ("Scott","Finance","NY",83000,36,19000),
    ("Jen","Finance","NY",79000,53,15000),
    ("Jeff","Marketing","CA",80000,25,18000),
    ("Kumar","Marketing","NY",91000,50,21000)
  ]

columns = ["emp_name", "department", "state", "salary", "age", "bonus"]

df = spark.createDataFrame(data=simpleData, schema=columns)

windowSpec = Window.partitionBy("state")
df = df.withColumn("state_total_salary", sum("salary").over(windowSpec))
df = df.filter("salary > 90000")
display(df.select ("emp_name", "state", "state_total_salary", "salary").orderBy("state"))

In [0]:
from pyspark.sql.functions import col, max

#Read the CSV file
df = spark.read.csv("/FileStore/tables/iris_data.csv")
#df.show()

#Rename the columns
columns = ["sepal_length", "sepal_width", "petal_length", "petal_width", "class"]
df = df.toDF(*columns)

In [0]:
x = df.agg(max("sepal_length").alias("max_sepal_length")).collect()[0]
y = df.agg(max("petal_length").alias("max_petal_length")).collect()[0]
display(x)
display(y)


result = "sepal" if x > y else "petal"
display(result)

In [0]:
data = [
    ("Alice", 10, "5th", 5000),
    ("Bob", 11, "6th", 5500),
    ("Charlie", 10, "5th", 5000),
    ("David", 12, "7th", 6000),
    ("Eva", 11, "6th", 5500),
    ("Frank", 10, "5th", 5000),
    ("Grace", 12, "7th", 6000),
    ("Hannah", 11, "6th", 5500),
    ("Ivy", 10, "5th", 5000),
    ("Jack", 12, "7th", 6000)
]

columns = ["name", "age", "grade", "fee"]

df_school = spark.createDataFrame(data, columns)
#display(df_school)

df_school = df_school.withColumn("age", df_school["age"].cast("int"))
df_school = df_school.withColumn("fee", df_school["fee"].cast("int"))
df_school = df_school.withColumn("fee", df_school["fee"] * 10)
display(df_school)

In [0]:
df = df_school.withColumnsRenamed({"name": "Student_Name", "grade": "Class"})

display(df)

In [0]:
# Sample data
dataDF = [
    (("James", "", "Smith"), "36636", "M", 3100),
    (("Michael", "Rose", ""), "40288", "M", 4300),
    (("Robert", "", "Williams"), "42114", "M", 1400),
    (("Maria", "Anne", "Jones"), "39192", "F", 5500),
    (("Jen", "Mary", "Brown"), "", "F", -1)
]

from pyspark.sql.types import StructType, StructField, StringType, IntegerType

schema = StructType([
    StructField("name", StructType([
        StructField("first_name", StringType(), True),
        StructField("middle_name", StringType(), True),
        StructField("last_name", StringType(), True)
    ]), True),
    StructField("id", StringType(), True),
    StructField("gender", StringType(), True),
    StructField("salary", IntegerType(), True)
])

df_data = spark.createDataFrame(dataDF, schema=schema)
#display(df_data)

from pyspark.sql.functions import col
 
schema2 = StructType([
    StructField("f1name",StringType()),
    StructField("m1iddlename",StringType()),
    StructField("l1name",StringType())])
 
df = df_data.select(col("name").cast(schema2))

display(df)

In [0]:
data = [("James", "Sales", 3000), \
    ("Michael", "Sales", 4600), \
    ("Robert", "Sales", 4100), \
    ("Maria", "Finance", 3000), \
    ("James", "Sales", 3000), \
    ("Scott", "Finance", 3300), \
    ("Jen", "Finance", 3900), \
    ("Jeff", "Marketing", 3000), \
    ("Kumar", "Marketing", 2000), \
    ("Saif", "Sales", 4100) \
  ]

df = spark.createDataFrame(data, ["name", "department", "salary"])

distinct_df = df.distinct()
print("Distinct count: " + str(distinct_df.count()))

df = df.dropDuplicates()
print("Distinct count: " + str(df.count()))
display(df)

In [0]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, MapType

data = [
    ("James", "Sales", 3000, {"address": {"city": "New York", "zip": "10001"}}),
    ("Michael", "Sales", 4600, {"address": {"city": "Chicago", "zip": "60601"}}),
    ("Robert", "Sales", 4100, {"address": {"city": "New York", "zip": "10001"}}),
    ("Maria", "Finance", 3000, {"address": {"city": "Seattle", "zip": "98101"}}),
    ("James", "Sales", 3000, {"address": {"city": "New York", "zip": "10001"}}),
    ("Scott", "Finance", 3300, {"address": {"city": "Seattle", "zip": "98101"}}),
    ("Jen", "Finance", 3900, {"address": {"city": "Chicago", "zip": "60601"}}),
    ("Jeff", "Marketing", 3000, {"address": {"city": "Chicago", "zip": "60601"}}),
    ("Kumar", "Marketing", 2000, {"address": {"city": "Seattle", "zip": "98101"}}),
    ("Saif", "Sales", 4100, {"address": {"city": "New York", "zip": "10001"}})
]

schema = StructType([
    StructField("emp_name", StringType(), True),
    StructField("Dept_name", StringType(), True),
    StructField("salary", IntegerType(), True),
    StructField("address", StructType([
        StructField("city", StringType(), True),
        StructField("zip", StringType(), True),
    ]), True)
])

df = spark.createDataFrame(data = data, schema = schema)
display(df)

In [0]:
# GroupBy Aggregations:
# Calculate minimum, maximum, average, and total salary per department.

from pyspark.sql.functions import min, max, avg, sum

agg_df = df.groupBy("Dept_name").agg(
    min("salary").alias("min_salary"),
    max("salary").alias("max_salary"),
    avg("salary").alias("avg_salary"),
    sum("salary").alias("total_salary")
)

display(agg_df)

In [0]:
#Window Functions (Over):
#Assign a dense rank of salary within each department using Window.partitionBy.

from pyspark.sql.window import Window
from pyspark.sql.functions import dense_rank

windowSpec = Window.partitionBy("Dept_name").orderBy("salary")
window_df = df.withColumn("dense_rank", dense_rank().over(windowSpec))
display(window_df)

In [0]:
#Where Clause:
#Filter out employees who earn more than 3000 and are in the Sales department.

#display(df)

filter_df = df.filter((col("salary") > 3000) & (col("Dept_name") == "Sales"))
display(filter_df)

In [0]:
#collect()[0][0]:
#Retrieve the maximum salary in the company using collect()[0][0].

#display(df)
from pyspark.sql.functions import max

max_sal_df = df.agg(max("salary").alias("max_salary")).collect()[0][0]
display(max_sal_df)

In [0]:
#If-Else Logic:
#Create a new column called "salary_level":
#"Low" if salary < 3000
#"Medium" if salary between 3000–4000
#"High" if salary > 4000

#display(df)

from pyspark.sql.functions import when, col

if_df = df.withColumn("Salary_level",
                      when(col("salary") < 3000, "Low")
                      .when((col("salary") >= 3000) & (col("salary") <= 4000), "Medium")
                      .otherwise("High"))
display(if_df)

In [0]:
#withColumnRenamed:
#Rename "employee_name" to "name".

#display(df)

rename_df = df.withColumnRenamed("emp_name", "name")
display(rename_df)

In [0]:
#Update Nested Schema:
#Update nested "address.city" to uppercase using withField or explode-nested technique.

#display(df)
from pyspark.sql.functions import upper

nested_df = df.withfield("address.city", upper(col("address.city")))

display(nested_df)

In [0]:
#Drop Duplicates / Distinct:
#Remove duplicate rows (exact matches).

#display(df)

distinct_df = df.distinct()
print("Distinct count: " + str(distinct_df.count()))

drop_duplicates_df = df.dropDuplicates()
print("Distinct count: " + str(drop_duplicates_df.count()))